*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    background-color: #000;
    color: #ababab;
    font-family:'Courier New', Courier, monospace ;
}

/* Navigation Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav img{
        width: 100px;
}

nav ul{
    margin: 10px 0px 0px 0px;
    /*In this order margin-top:
    margin-right
    margin-bottom
    margin-left */
    font-weight: 100;
    /* To bolden text
    ranges from 100 to 900 */
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-size: 11px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

nav ul li a:hover{
    /* text-decoration:underline;
    text-decoration-color: rgb(255, 0, 230); */
    /* This has been taken care of by the following
    position: relative (under nav ul li a)
    transtion: 0.5s (under nav ul li a::after)
    nav ul li a:hover::after */
    color: rgb(0, 255, 247);
    /* font-size: 12px; */
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.2s;
}
nav ul li a:hover::after{
    width: 100%

}


/* Hero Section */
.hero-section{
    margin-top: 10%;
    font-size: 10px;
}

.hero-section p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    color: rgb(140, 126, 140);
}

.hero-section h1{
    font-size: 12px;
    margin-top: 11px;

}
.hero-section h1 span{
    color:#ff007b;
}


/* About Me */
#about{
    padding: 35px 0;
    /* color: #ababab; */

}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 25px;
    font-weight: 600;
}

 .content{
    font-size: 13px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 20px;
    color: #ffffff;
}

.tab-links{
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.2s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 12px;
}

.tab-contents ul li span{
    color: #c53361;
    font-size: 10px;
}

.tab-contents{
    display: none;
    /* To hide all the contents under Skills, Experience & Education
    And show them only if the respective tab is clicked. */
}

.tab-contents.active-tab{
    display: block;
}


/* Secvices Section */
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* A fraction or 1fr is one part of the whole. One 1fr fraction 
    is 100% of the available space. Two 1fr fractions are 50% each of 
    the available space. */
    grid-gap: 30px;
    margin-top: 20px;
}

.services-list div{
    background: #262626;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

.services-list div i{
    font-size: 40px;
    margin-bottom: 15px;
}

.services-list div h2{
    font-size: 16px;
    /* color: #c53361; */
    margin-bottom: 10px;
}

.services-list div p{
    font-size: 12px;
}

.services-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 11px;
    margin-top: 12px;
    display: inline-block;
}

.services-list div a:hover{
    text-decoration: underline;
    color: yellow;
}